apiVersion: v1
kind: Service
metadata:
  name: {{ include "geargo.fullname" . }}-web
  labels:
    {{- include "geargo.labels" . | nindent 4 }}
    app.kubernetes.io/component: web
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "geargo.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: web

